$color_1:#edf4ec;
$color_2:#121117;
$color_3:#4f5050;
$color_4:#048383;
$color_5:#919194;
$color_6:#904d01;
$color_7:#88e2e3;
$color_8:#f4ac4f;
$color_9:#e5ebe5;
$color_10:#252c2f;
$color_11:#737373;
$color_12:#83a7a8;
$color_13:#7f939c;
$color_14:#4d5a65;
$color_15:#088181;
$color_16:#131314;
$color_17:#d29261;
$color_18:#8cdadc;

